@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src:
    url("fonts/comfortaa-regular.woff2") format("woff2"),
    url("fonts/comfortaa-regular.woff") format("woff");
  font-display: swap;
  unicode-range: U+0410-044f, U+0000-007f;
}

@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  src:
    url("fonts/comfortaa-bold.woff2") format("woff2"),
    url("fonts/comfortaa-bold.woff") format("woff");
  font-display: swap;
  unicode-range: U+0410-044f, U+0000-007f;
}

:root {
  --dark: #1b1b1b;
  --opacity-dark: rgba(27, 27, 27, .4);
  --selected: #ececec;
  --light: #ffffff;
  --error: #e12b56;

  --font-primary: "Comfortaa", "Arial", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  cursor: url("image/cursor.svg"), auto;
}

::-moz-selection {
  color: var(--light);
  background-color: var(--dark);
}

::selection {
  color: var(--light);
  background-color: var(--dark);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  scrollbar-gutter: stable;
}

.page__body {
  height: 100vh;
  margin: 0;
  font-family: var(--font-primary);
  color: var(--dark);
  background-color: var(--dark);
}

.page__container {
  display: grid;
  align-items: center;
  min-height: 100%;
}

.task-tracker {
  display: grid;
  justify-self: center;
  width: 100%;
  max-width: 390px;
  padding: 72px 10px 82px;
  background-color: var(--light);
  background-image: url("image/note-decor-mobile.svg"), url("image/note-background.svg");
  background-repeat: no-repeat, repeat;
  background-position: center top, 5px 5px;
  border: 2px solid var(--dark);
  border-radius: 8px;

  @media (min-width: 390px) {
    padding: 80px 24px 75px;
    background-size: 490px 40px, auto;
  }

  @media (min-width: 640px) {
    max-width: 530px;
    padding: 82px 45px 70px;
    background-size: 576px 47px, auto;
  }
}

.task-tracker__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 150%;
  font-weight: bold;
  text-align: center;

  @media (min-width: 640px) {
    margin-bottom: 15px;
    font-size: 34px;
  }
}

.task-tracker__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  background-color: var(--light);
  outline: 2px solid var(--dark);
  border-radius: 8px;


  @media (min-width: 640px) {
    margin-bottom: 50px;
  }
}

.task-tracker__item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;

  &:not(:last-child) {
    border-bottom: 2px solid var(--dark);
  }

  @media (min-width: 640px) {
    gap: 20px;
    padding: 0 20px;
  }
}

.task-tracker__checkbox {
  flex-shrink: 0;
  appearance: none;
  width: 20px;
  height: 20px;
  margin: 0;
  background-color: var(--light);
  border: 2px solid var(--dark);
  border-radius: 50%;
  transition: background-color .3s linear, border .3s linear;
  cursor: url("image/cursor-pointer.svg"), pointer;

  &:checked {
    background-color: var(--dark);
    background-image: url("image/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 8px;

    @media (min-width: 640px) {
      background-size: 12px 10px;
    }
  }

  @media (min-width: 640px) {
    width: 24px;
    height: 24px;
  }

  &:hover {
    border-color: rgba(28, 28, 28, .6)
  }
}

.task-tracker__checkbox:checked + .task-tracker__label {
  text-decoration: line-through;
}

.task-tracker__label {
  flex-grow: 1;
  padding: 15px 0;
  font-size: 12px;
  line-height: 130%;
  cursor: url("image/cursor-pointer.svg"), pointer;
  transition: opacity .3s linear;

  @media (min-width: 390px) {
    padding: 13px 0;
    font-size: 14px;
  }

  @media (min-width: 640px) {
    padding: 18px 0;
    font-size: 16px;
    line-height: 150%;
  }

  &:is(:hover, :focus) {
    opacity: .6;
  }

  &:active {
    opacity: .3;
  }
}

.task-tracker__action-button {
  width: 20px;
  height: 46px;
  padding: 0;
  background-color: var(--light);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  border: none;
  cursor: url("image/cursor-pointer.svg"), pointer;
  transition: opacity .3s linear;

  @media (min-width: 640px) {
    width: 24px;
    height: 60px;
    background-size: 24px 24px;
  }

  &:is(:hover, :focus) {
    opacity: .6;
  }

  &:active {
    opacity: .3;
  }
}

.task-tracker__edit {
  background-image: url("image/edit.svg");
}

.task-tracker__delete {
  background-image: url("image/remove.svg");
}

.task-tracker__footer {
  display: flex;
  gap: 20px;
}

.task-tracker__footer:has(.task-tracker__field--hide) {
  justify-self: center;
}

.task-tracker__field-wrapper {
  position: relative;
  flex-grow: 1;
}

.task-tracker__field-wrapper:has(.task-tracker__field--hide) {
  display: none;
}

.task-tracker__field {
  width: 100%;
  padding: 15px 10px;
  font-family: inherit;
  font-size: 12px;
  line-height: 130%;
  color: var(--dark);
  border: none;
  outline: 2px solid var(--dark);
  border-radius: 8px;
  cursor: url("image/cursor-text.svg"), text;

  &::placeholder {
    color: rgba(27, 27, 27, .6);
  }

  @media (min-width: 390px) {
    font-size: 14px;
  }

  @media (min-width: 640px) {
    padding: 18px 20px;
    font-size: 16px;
    line-height: 150%;
  }
}

.task-tracker__field-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  @media (min-width: 640px) {
    right: 20px;
  }
}

.task-tracker__add-button {
  position: relative;
  width: 46px;
  height: 46px;
  padding: 0;
  background-color: var(--light);
  border: 2px solid var(--dark);
  border-radius: 50%;
  cursor: url("image/cursor-pointer.svg"), pointer;
  transition: transform .3s linear, opacity .3s linear;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 2px;
    background-color: var(--dark);
    border-radius: 8px;
    cursor: url("image/cursor-pointer.svg"), pointer;
  }

  &::before {
    width: 2px;
    height: 16px;

    @media (min-width: 640px) {
      height: 18px;
    }
  }

  @media (min-width: 640px) {
    width: 60px;
    height: 60px;

    &::before {
      height: 18px;
    }

    &::after {
      width: 18px;
    }
  }

  &:is(:hover, :focus) {
    transform: scale(1.3);
  }

  &:active {
    transform: scale(1);
    opacity: .6;
  }
}
