@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src:
    url("fonts/comfortaa-regular.woff2") format("woff2"),
    url("fonts/comfortaa-regular.woff") format("woff");
  font-display: swap;
  unicode-range: U+0410-044f, U+0000-007f;
}

@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  src:
    url("fonts/comfortaa-bold.woff2") format("woff2"),
    url("fonts/comfortaa-bold.woff") format("woff");
  font-display: swap;
  unicode-range: U+0410-044f, U+0000-007f;
}

:root {
  --dark: #1b1b1b;
  --opacity-dark: rgba(27, 27, 27, .4);
  --selected: #ececec;
  --light: #ffffff;
  --error: #e12b56;

  --font-primary: "Comfortaa", "Arial", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  cursor: url("image/cursor.svg"), auto;
}

::-moz-selection {
  color: var(--light);
  background-color: var(--dark);
}

::selection {
  color: var(--light);
  background-color: var(--dark);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
